@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-body{
    background-color: rgb(236, 235, 235);
    min-height: 100vh;
}
.navbar-user{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
}

.navbar-img {
    /* height: 30px; */
    margin: 10px;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-brand2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-button{
    display: none;
}

#sidebar-on{
    background: rgb(248, 248, 248);
    /* position: absolute; */
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
    transition: 0.5s;
    display: none;
}
#sidebar-off{
    background: rgb(248, 248, 248);
    /* position: absolute; */
    width: 100%;
    margin-top: -50px;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
    transition: 0.5s;
    display: none;
}
.sidebar-item{
    margin-right: 20px;
}

.card-home{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
}

.event-ruangan{
    min-height: 100px;
}
.event-alat{
    min-height: 100px;
}
.event-ruangan{
    min-height: 100px;
}
@media Screen and (max-width:800px){
    .navbar-item{
        display: none;
    }

    .navbar-button{
        display: block;
    }
    .navbar-img {
        /* height: 30px; */
        margin: 5px;
        display: none;
    }
    
    .navbar-brand{
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .navbar-brand2{
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }
    #sidebar-on{
        background: rgb(248, 248, 248);
        /* position: absolute; */
        z-index: 10;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: center;
        z-index: 1;
        transition: 0.5s;
    }
    #sidebar-off{
        background: rgb(248, 248, 248);
        /* position: absolute; */
        z-index: 10;
        width: 100%;
        margin-top: -50px;
        margin-bottom: 10px;
        padding: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: center;
        z-index: 1;
        transition: 0.5s;
    }
}